
body{
    background-color: black;    

}

h1{
text-transform: uppercase;
font-size: 3rem;

}


div{
width: 50%;
margin-left: 25%;
margin-top: 100px;
text-align: center;
font-family: "Libre Baskerville", serif;
color: white
}

img{
    border: 5px solid white;
    width: 100%;
}